extends ../../templates/base

block contents
    +breadcrumb(["Automation Store", "보안 저장소", "보안인증서 등록"])
    section
        .container
            .vstack.gap-4.py-4
                h2.fw-bold 보안인증서 등록
                .card
                    .card-body.p-5
                        span.d-block.text-end.text-danger #[sup *] 항목은 필수 입력 사항입니다.
                        .vstack.gap-4
                            .row.g-4
                                .col-12
                                    .vstack.gap-2
                                        label.form-label.fw-bold.required(
                                            for="fileTitle"
                                        ) 제목
                                        input#fileTitle.form-control(
                                            type="text"
                                        )
                                .col-12.col-lg-6
                                    .vstack.gap-2
                                        label.form-label.fw-bold.required(
                                            for="fileId"
                                        ) 인증서 파일
                                        input#fileAuth.form-control(
                                            type="file"
                                        )
                                .col-12.col-lg-6
                                    .vstack.gap-2
                                        label.form-label.fw-bold.required(
                                            for="filePassword"
                                        ) 비밀번호
                                        .position-relative
                                            input#filePassword.form-control(
                                                type="password"
                                            )
                                            i#passwordToggle.bi.bi-eye
                            .hstack.justify-content-end.gap-3
                                a.btn.btn-board.btn-primary(href="#") 저장
                a.btn.btn-board.btn-secondary(
                    href="/src/view/cridential/index.pug"
                ) 목록
