mixin themeToggle(option)
    .dropdown(class=option)
        a#bd-theme.btn.btn-light.dropdown-toggle.text-primary.d-inline-flex.align-items-center(
            href="#",
            data-bs-toggle="dropdown",
            aria-expanded="false",
            data-bs-display="static"
        )
            span#bd-icon
                .hstack.gap-2
                    i.bi.bi-sun-fill
        ul.dropdown-menu.dropdown-menu-end.bd-theme-toggles
            each theme in [{"value": "light", "text": "라이트 모드", "icon" : "bi-sun-fill"}, {"value": "dark", "text": "다크 모드", "icon" : "bi-moon-fill"}, {"value": "auto", "text": "자동", "icon" : "bi-circle-half"}]
                li
                    button.dropdown-item(
                        type="button",
                        data-theme-value=theme.value
                    )
                        .hstack.gap-2
                            i.bi(class=theme.icon)
                            span= theme.text

header.bg-primary.text-light.sticky-top
    nav.navbar.navbar-expand-lg.px-lg-4
        .container
            .hstack.justify-content-between.flex-grow-1
                .hstack.gap-3
                    a.navbar-brand(href="/src/view/index.pug") #[img#logo(src="/src/assets/images/logo.png", alt="logo")]
                    ul.navbar-nav.me-auto.d-none.d-lg-flex
                        li.nav-item
                            a.nav-link(href="/src/view/store/index.pug") 스토어
                        li.nav-item
                            a.nav-link(href="/src/view/library/index.pug") 라이브러리
                        li.nav-item
                            a.nav-link(href="/src/view/snippet/index.pug") 코드 조각
                        li.nav-item
                            a.nav-link(href="/src/view/cridential/index.pug") 보안 저장소
                button#search-btn.btn.btn-outline-light.d-none.d-lg-block(
                    data-bs-toggle="modal",
                    data-bs-target="#searchModal"
                )
                    .hstack.gap-2
                        i.bi.bi-search
                        span 검색
                .hstack.gap-3.d-none.d-lg-flex
                    #nav-profile.dropdown
                        span.hstack.gap-1.dropdown-toggle(
                            data-bs-toggle="dropdown"
                        )
                            b#userId admin
                            span#userPos (관리자)
                        ul.dropdown-menu.dropdown-menu-end
                            li.dropdown-item
                                a.dropdown-link(href="/src/view/mypage.pug")
                                    .hstack.gap-2
                                        i.bi.bi-person.fs-5.lh-base
                                        span 마이페이지
                            li.dropdown-item
                                a.dropdown-link(href="/src/view/login.pug")
                                    .hstack.gap-2
                                        i.bi.bi-box-arrow-right.fs-5.lh-base
                                        span 로그아웃
                            hr.dropdown-divider
                            li.dropdown-item
                                a.dropdown-link(href="#")
                                    .hstack.gap-2
                                        img#logo_ao3(
                                            src="/src/assets/images/logo_ao3.png",
                                            alt="logo_ao3"
                                        )
                                        span 매니저로 이동
                    +themeToggle
