extends ../templates/base

block contents
    section.half-cover.h-100
        .container.h-100
            .vstack.gap-4.py-5.h-100
                .d-flex.justify-content-between.align-items-center
                    h2.fw-bold 파일 히스토리
                    .hstack.gap-3
                        a.btn.btn-primary(href="#") 저장
                        a.btn.btn-secondary(href="/src/view/index.pug") 목록
                .card.rounded-4.h-100
                    .card-body
                        .vstack.gap-4
                            .row.row-cols-1.row-cols-lg-2.g-4
                                .col
                                    .vstack.gap-2
                                        label.form-label(for="fileTitle") 제목
                                        input#fileTitle.form-control(
                                            type="text"
                                        )
                                .col
                                    .vstack.gap-2
                                        label.form-label(for="fileTypeRadio") 구분
                                        #fileTypeRadio.btn-group(role="group")
                                            input#typePrivate.btn-check(
                                                type="radio",
                                                name="fileTypeRadio",
                                                autocomplete="off",
                                                checked
                                            )
                                            label.btn.btn-outline-primary(
                                                for="typePrivate"
                                            ) Private
                                            input#typePublic.btn-check(
                                                type="radio",
                                                name="fileTypeRadio",
                                                autocomplete="off"
                                            )
                                            label.btn.btn-outline-primary(
                                                for="typePublic"
                                            ) Public
                            .vstack.gap-2
                                label.form-label(for="fileAttach") 파일
                                input#fileAttach.form-control(type="file")
                            .vstack.gap-2
                                label.form-label(for="fileExplain") 설명
                                textarea#fileExplain.form-control(rows="3")
                            hr
                            legend 히스토리
                            ul#fileHistory.vstack.gap-5.p-0
                                li.row.g-2.g-md-3.border.rounded-4.p-4
                                    .col-2.col-lg-1.order-1
                                        input.idx-input.form-control.text-center(
                                            type="text",
                                            value="3",
                                            readonly="true"
                                        )
                                    .col-10.col-lg-7.col-form-label.order-2
                                        a(href="#") 사내시스템 점검.zip
                                    .col-12.col-lg-4.col-form-label.order-4.order-lg-3
                                        .hstack.gap-2.justify-content-end
                                            span.text-muted 2022-08-10 11:21:16
                                            i.bi.bi-x-lg.text-danger
                                    .col-12.order-3.order-lg-4
                                        input.form-control(
                                            type="text",
                                            placeholder="설명"
                                        )
                                li.row.g-2.g-md-3.border.rounded-4.p-4
                                    .col-2.col-lg-1.order-1
                                        input.idx-input.form-control.text-center(
                                            type="text",
                                            value="2",
                                            readonly="true"
                                        )
                                    .col-10.col-lg-7.col-form-label.order-2
                                        a(href="#") 카카오맵 길찾기.zip
                                    .col-12.col-lg-4.col-form-label.order-4.order-lg-3
                                        .hstack.gap-2.justify-content-end
                                            span.text-muted 2022-08-10 11:21:16
                                            i.bi.bi-x-lg.text-danger
                                    .col-12.order-3.order-lg-4
                                        input.form-control(
                                            type="text",
                                            placeholder="설명"
                                        )
                                li.row.g-2.g-md-3.border.rounded-4.p-4
                                    .col-2.col-lg-1.order-1
                                        input.idx-input.form-control.text-center(
                                            type="text",
                                            value="1",
                                            readonly="true"
                                        )
                                    .col-10.col-lg-7.col-form-label.order-2
                                        a(href="#") 실행모드 설정.zip
                                    .col-12.col-lg-4.col-form-label.order-4.order-lg-3
                                        .hstack.gap-2.justify-content-end
                                            span.text-muted 2022-08-10 11:21:16
                                            i.bi.bi-x-lg.text-danger
                                    .col-12.order-3.order-lg-4
                                        input.form-control(
                                            type="text",
                                            placeholder="설명"
                                        )
