extends ../templates/login

block contents
    .container.h-100
        article.d-flex.justify-content-center.align-items-center.h-100
            .login-box
                .vstack.gap-4
                    img#logo.align-self-center(
                        src="/src/assets/images/logo.png",
                        alt="logo"
                    )
                    .form-floating
                        input#userId.form-control(
                            type="text",
                            placeholder="사용자 ID"
                        )
                        label(for="userId") 사용자 ID
                    .form-floating
                        input#userPw.form-control(
                            type="text",
                            placeholder="비밀번호"
                        )
                        label(for="userId") 비밀번호
                    a.btn.btn-lg.btn-primary(href="/src/view/index.pug") 로그인
