extends ../../templates/base

mixin cardBoard(option)
    .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4
        .col
            .card.card-item(
                onclick="location.href='/snippet/snippet-detail.html'"
            )
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            h5.text-primary.fw-bold 코드 조각
                            h4.fw-bold.card-title 대법원 사건조회
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light C#
                                span.badge.rounded-pill.text-bg-light .NET
                                span.badge.rounded-pill.text-bg-light HTML
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .hstack.gap-1
                                i.bi.bi-person-fill.lh-1
                                span 등록자 : ADMIN
                            .hstack.gap-3.justify-content-end.text-muted.small
                                .hstack.gap-1
                                    i.bi.bi-download.lh-1
                                    span 1
                                .hstack.gap-1
                                    i.bi.bi-chat-square-text.lh-1
                                    span 5
        .col
            .card.card-item(
                onclick="location.href='/snippet/snippet-detail.html'"
            )
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            h5.text-primary.fw-bold 코드 조각
                            h4.fw-bold.card-title 대법원 사건조회
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light 1234567890
                                span.badge.rounded-pill.text-bg-light 0987654321
                                span.badge.rounded-pill.text-bg-light 동해물과백두산이마르
                                span.badge.rounded-pill.text-bg-light 고닳도록하느님이보우
                                span.badge.rounded-pill.text-bg-light 하사우리나라만세무궁
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .hstack.gap-1
                                i.bi.bi-person-fill.lh-1
                                span 등록자 : ADMIN
                            .hstack.gap-3.justify-content-end.text-muted.small
                                .hstack.gap-1
                                    i.bi.bi-download.lh-1
                                    span 1
                                .hstack.gap-1
                                    i.bi.bi-chat-square-text.lh-1
                                    span 5
        .col
            .card.card-item(
                onclick="location.href='/snippet/snippet-detail.html'"
            )
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            h5.text-primary.fw-bold 코드 조각
                            h4.fw-bold.card-title 대법원 사건조회
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light C#
                                span.badge.rounded-pill.text-bg-light .NET
                                span.badge.rounded-pill.text-bg-light HTML
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .hstack.gap-1
                                i.bi.bi-person-fill.lh-1
                                span 등록자 : ADMIN
                            .hstack.gap-3.justify-content-end.text-muted.small
                                .hstack.gap-1
                                    i.bi.bi-download.lh-1
                                    span 1
                                .hstack.gap-1
                                    i.bi.bi-chat-square-text.lh-1
                                    span 5
        .col
            .card.card-item(
                onclick="location.href='/snippet/snippet-detail.html'"
            )
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            h5.text-primary.fw-bold 코드 조각
                            h4.fw-bold.card-title 대법원 사건조회
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light C#
                                span.badge.rounded-pill.text-bg-light .NET
                                span.badge.rounded-pill.text-bg-light HTML
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .hstack.gap-1
                                i.bi.bi-person-fill.lh-1
                                span 등록자 : ADMIN
                            .hstack.gap-3.justify-content-end.text-muted.small
                                .hstack.gap-1
                                    i.bi.bi-download.lh-1
                                    span 1
                                .hstack.gap-1
                                    i.bi.bi-chat-square-text.lh-1
                                    span 5

block contents
    a.d-none(href="/src/view/snippet/snippet-detail.pug")
    section
        #top-bar.bar-snippet.py-5
            .container
                .hstack.justify-content-between
                    .vstack.gap-2
                        h1.fw-bold.text-light 코드 조각
                        h5.fw-bold.text-light.mb-4.mb-lg-0 함께 나눌 때 더 쉽고 빨라집니다.
                    a.btn.btn-lg.btn-light.text-primary.fw-bold(
                        href="/src/view/snippet/snippet-new.pug"
                    )
                        .hstack.gap-2.text-center
                            i.bi.bi-pencil
                            span 코드 조각 등록
        .container
            .vstack.gap-4.py-4
                legend 전체 #[span.text-primary 2]
                +cardBoard
                +pagination
